nav {
    color: white;
    text-align: center;
    font-family: Georgia, times, serif; 
}

body {
    
    background-color: lavender;

    font-family: Helvetica, Arial, sans-serif;
    
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
    margin-left: 40px;
}

h1 {
    font-family: Georgia, times, serif; 
    text-align: center;
    color: mediumpurple;
}
